<div>
    <h2 class="page-title">Leagues</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>League Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="vm.canCreateNewLeague">
                <td>
                    <input type="text" class="form-control" placeholder="New League Name" ng-model="vm.newLeagueName" ui-keypress="{13:'vm.addItem()'}">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" ng-disabled="!vm.newLeagueName" ng-click="vm.addItem()"
                            tooltip="Click here to add new league" tooltip-placement="right">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </td>
            </tr>

            <!--<tr ng-repeat="league in vm.leagues | orderBy:'name'">
                <td ng-hide="vm.currentEdit[league.id]">{{league.name}}</td>
                <td>
                    <a class="btn btn-success" ui-sref="league.main({leagueId: league.id})">Configure</a>
                    <button class="btn btn-success" ng-show="vm.currentEdit[league.id]" ng-click="vm.saveItem(league)">Save</button>
                    <button class="btn btn-danger" ng-show="vm.currentEdit[league.id]" ng-click="vm.cancelEdit(league.id)">Cancel</button>
                </td>
            </tr>-->

            <tr class="info" ng-show="vm.myLeagues">
                <td colspan="2"><h4>My Leagues</h4></td>
            </tr>
            <tr ng-repeat="league in vm.myLeagues | orderBy:'name'">
                <td ng-hide="vm.currentEdit[league.id]">{{league.name}}</td>
                <td>
                    <a class="btn btn-success" ui-sref="league.main({leagueId: league.id})">Configure</a>
                    <button class="btn btn-success" ng-show="vm.currentEdit[league.id]" ng-click="vm.saveItem(league)">Save</button>
                    <button class="btn btn-danger" ng-show="vm.currentEdit[league.id]" ng-click="vm.cancelEdit(league.id)">Cancel</button>
                </td>
            </tr>

            <tr class="info" ng-show="vm.archivedLeagues">
                <td colspan="2"><h4>Leagues Shared with Me</h4></td>
            </tr>
            <tr ng-repeat="league in vm.otherLeagues | orderBy:'name'">
                <td ng-hide="vm.currentEdit[league.id]">
                    {{league.name}}
                    <!--<small>({{league.permission}})</small>-->
                </td>
                <td>
                    <a class="btn btn-success" ui-sref="league.main({leagueId: league.id})">Configure</a>
                    <button class="btn btn-success" ng-show="vm.currentEdit[league.id]" ng-click="vm.saveItem(league)">Save</button>
                    <button class="btn btn-danger" ng-show="vm.currentEdit[league.id]" ng-click="vm.cancelEdit(league.id)">Cancel</button>
                </td>
            </tr>


            <tr class="info" ng-show="vm.archivedLeagues">
                <td colspan="2"><h4>Archived Leagues</h4></td>
            </tr>
            <tr ng-repeat="league in vm.archivedLeagues | orderBy:'name'">
                <td ng-hide="vm.currentEdit[league.id]">{{league.name}}</td>
                <td></td>
            </tr>

</tbody>
    </table>
</div>
