@model List<LeagueScheduler.Models.League>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Elite Schedule</a>
    </div>
</div>

<div class="jumbotron">
    <h1>Welcome to Elite Schedule!</h1>
    <p>
        This site contains the schedules for all active leagues and tournaments. 
        Please select a league/tournament below to go to their site.
    </p>
</div>

<div>
    <table class="table table-bordered table-hover table-striped table-condensed">
        @foreach (var league in this.Model)
        {
            <tr>
                <td>@Html.ActionLink(league.Name, "League", new { id = league.Id }, new { @class = "btn btn-link" })</td>
            </tr>
        }
        <tr>
            <td>
                @if (this.ViewBag.IsArchived)
                {
                    @Html.ActionLink("View Current Tournaments/Leagues", "Index", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("View Archived Tournaments/Leagues", "Index", new { archived = true }, new { @class = "btn btn-default" })
                }
            </td>

        </tr>
    </table>
</div>