<div class="modal-header">
    <h2>{{vm.title}}</h2>
</div>

<div class="modal-body">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Date</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Date"
                       datepicker-popup="MM/dd/yyyy" ng-model="vm.gameDate" is-open="vm.opened" ng-click="vm.open($event)"
                       datepicker-options="vm.dateOptions" ng-required="true" close-text="Close"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label time-label">Time</label>
            <div class="col-sm-9">
                <timepicker ng-model="vm.gameTime" ng-change="changed()" minute-step="15" show-meridian="true"></timepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Home Team</label>
            <div class="col-sm-9">
                <!--<select class="form-control" ng-model="vm.editableItem.team1Id" ng-options="team.id as team.name + ' (' + team.division + ')' for team in vm.properties.teams"></select>-->
                <select class="form-control" ng-model="vm.editableItem.team1Id" ng-options="team.id as team.name + (team.division === null ? '' : ' (' + team.division + ')') for team in vm.properties.teams"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Away Team</label>
            <div class="col-sm-9">
                <!--<select class="form-control" ng-model="vm.editableItem.team2Id" ng-options="team.id as team.name + ' (' + team.division + ')' for team in vm.properties.teams"></select>-->
                <select class="form-control" ng-model="vm.editableItem.team2Id" ng-options="team.id as team.name + (team.division === null ? '' : ' (' + team.division + ')') for team in vm.properties.teams"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Location</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="vm.editableItem.locationId" ng-options="loc.id as loc.name for loc in vm.properties.locations"></select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save()">Save</button>
    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>
