<div>
    <p></p>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="vm.editItem()">Add New Game</button>
            <button class="btn btn-primary" ng-click="vm.validateAll()">Validate</button>
            <button class="btn btn-primary" ng-show="vm.selected.length === 2" ng-click="vm.swapGames()">Swap</button>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Date Filter..."
                   datepicker-popup="MM/dd/yyyy" ng-model="vm.dateFilter" is-open="vm.opened" ng-click="vm.open($event)"
                   datepicker-options="vm.dateOptions" close-text="Close" />
        </div>
        <div class="col-md-3">
            <ui-select multiple reset-search-input="true" ng-model="vm.filterTeamId" theme="bootstrap">
                <ui-select-match placeholder="Select teams to filter...">
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="team in vm.teams | filter:$select.search">
                    <span ng-bind-html="team.name | highlight: $select.search"></span>
                    <span><small>({{team.division}})</small></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3">
            <ui-select multiple reset-search-input="true" ng-model="vm.filterLocationId" theme="bootstrap">
                <ui-select-match placeholder="Select locations to filter...">
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="location in vm.locations | filter:$select.search">
                    <span ng-bind-html="location.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <p></p>

    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>Game Time</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Location</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in vm.games | filter: vm.gameFilter | orderBy:'gameTime'"
                ng-init="team1SpecReq = vm.getSpecialRequestForGame(game.team1Id, game); team2SpecReq = vm.getSpecialRequestForGame(game.team2Id, game)">
                <td>
                    <button class="btn btn-default" ng-model="vm.selectedRows[game.id]" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-change="vm.selectRow()">
                        <span class="glyphicon" ng-class="{'glyphicon-check': vm.selectedRows[game.id], 'glyphicon-unchecked': !vm.selectedRows[game.id]}"></span>
                    </button>
                </td>
                <td>{{game.gameTime | date: 'short': 'UTC' }}</td>
                <!--<td ng-class="vm.specialRequestCss(game.team1Id, game)">-->
                <td ng-class="vm.scheduleRequestCss(team1SpecReq, game.team1Id)">
                    <span ng-class="{'text-success': game.team1Score > game.team2Score}">
                        {{vm.teamsLookup[game.team1Id].name}}
                        <small><span ng-show="vm.teamsLookup[game.team1Id].division">({{vm.teamsLookup[game.team1Id].division}})</span></small>
                    </span>
                    <span ng-show="game.team1Score"><strong>({{game.team1Score}})</strong></span>
                </td>
                <!--<td ng-class="vm.specialRequestCss(game.team2Id, game)">-->
                <td ng-class="vm.scheduleRequestCss(team2SpecReq)">
                    <span ng-class="{'text-success': game.team2Score > game.team1Score}">
                        {{vm.teamsLookup[game.team2Id].name}}
                        <small><span ng-show="vm.teamsLookup[game.team2Id].division">({{vm.teamsLookup[game.team2Id].division}})</span></small>
                    </span>
                    <span ng-show="game.team2Score"><strong>({{game.team2Score}})</strong></span>
                </td>
                <td>{{vm.locationsLookup[game.locationId]}}</td>
                <td>
                    <div class="btn-group" dropdown>
                        <button class="btn btn-success dropdown-toggle" type="button">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="vm.editItem(game)">Edit</a></li>
                            <li><a ng-click="vm.editScores(game)">Scores</a></li>
                            <li><a ng-click="vm.deleteItem(game.id)">Delete</a></li>
                        </ul>
                    </div>
                    <!--<button ng-show="vm.specialRequestsLookup[game.team1Id] || vm.specialRequestsLookup[game.team2Id]"-->
                    <!--<button ng-show="vm.getSpecialRequestForGame(game.team1Id, game, 1) || vm.getSpecialRequestForGame(game.team2Id, game, 1)"-->
                    <!--ng-click="vm.viewScheduleRequests(game)"-->
                    <button ng-show="team1SpecReq || team2SpecReq"
                            class="btn btn-danger" ng-click="vm.viewScheduleRequests2(game.team1Id, team1SpecReq, game.team2Id, team2SpecReq)"
                            popover="View Schedule Request" popover-trigger="mouseenter" popover-placement="left">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>



</div>
