<section>
    <h3 class="page-title" data-bind="text: leagueName() + ' League'"></h3>

    <div data-bind="compose:'league-tabs.html'"></div>

    <div>
        <div style="padding: 8px 0px">
            <button class="btn btn-primary" data-bind="enable: isDirty, click: save" disabled>Save</button>
            <button class="btn btn-default" data-bind="enable: isDirty, click: reset" disabled>Reset</button>
            <button class="btn btn-info" data-toggle="modal" data-target="#markdownHelp">Help</button>
        </div>

        <textarea class="form-control" data-bind="value: contentText, valueUpdate: 'afterkeydown'" style="height: 350px"></textarea>
        <h3>Live Preview:</h3>
        <hr />
        <div data-bind="markdown: contentText"></div>
    </div>



    <div class="modal fade" id="markdownHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Syntax Help</h4>
                </div>
                <div class="modal-body">

                    <p># Heading 1 #</p>
                    <p>## Heading 2 ##</p>
                    <p>### Heading 3 ###</p>
                    <p>#### Heading 4 ####</p>
                    <hr />
                    <p>**<b>This is bold.</b>**</p>
                    <p>*<i>This is italicized.</i>*</p>
                    <hr />
                    <p>This is a link: [Google](http://www.google.com)</p>
                    <hr />
                    <p>* Unordered list item.</p>
                    <p>* Unordered list item.</p>
                    <hr />
                    <p>1. Ordered list item.</p>
                    <p>2. Ordered list item.</p>
                    <hr />
                    <p><a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">Additional Syntax Help</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>