<section>
    <h3 class="page-title" data-bind="text: leagueName() + ' League'"></h3>

    <div data-bind="compose:'league-tabs.html'"></div>

    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <td>
                    <div>
                        <h4 class="pull-left">Filter:</h4>
                        <select class="form-control pull-left filter-control" data-bind="value: filterTeamId, options: teams, optionsCaption: '(Selet Team Filter)', optionsText: 'name', optionsValue: 'id'"></select>
                        <select class="form-control pull-left filter-control" data-bind="value: filterLocationId, options: locations, optionsCaption: '(Select Location Filter)', optionsText: 'name', optionsValue: 'id'"></select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Game Time</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Select Time" data-bind="datepicker: newGameTime, datepickerOptions: { showMeridian: true, autoclose: true, todayBtn: true, format: 'mm/dd/yyyy H:ii P' }">
                </td>
                <td>
                    <select class="form-control" data-bind="value: newTeam1Id, options: teams, optionsCaption: '(Select Team 1)', optionsText: 'name', optionsValue: 'id'"></select>
                </td>
                <td>
                    <select class="form-control" data-bind="value: newTeam2Id, options: teams, optionsCaption: '(Select Team 2)', optionsText: 'name', optionsValue: 'id'"></select>
                </td>
                <td>
                    <select class="form-control" data-bind="value: newLocationId, options: locations, optionsCaption: '(Select Location)', optionsText: 'name', optionsValue: 'id'"></select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" data-bind="click: addItem"><i class="icon-plus icon-white"></i> Add</button>
                </td>
            </tr>
            <!--items-->
            <!--ko template: { name: displayMode, foreach: filteredGames } -->
            <!--/ko-->
        </tbody>
    </table>


    <script id="game-itemTempl" type="text/html">
        <tr>
            <td data-bind="dateTime: gameTime"></td>
            <td>
                <span data-bind="text: $parent.getTeamName(team1Id()), css: { 'text-success': team1Score() && team1Score() > team2Score() }"></span>
                <b><span data-bind="visible: team1Score(), text: '(' + team1Score() + ')'"></span></b>
            </td>
            <td>
                <span data-bind="text: $parent.getTeamName(team2Id()), css: { 'text-success': team1Score() && team1Score() < team2Score() }"></span>
                <b><span data-bind="visible: team2Score(), text: '(' + team2Score() + ')'"></span></b>
            </td>
            <td data-bind="text: $parent.getLocationName(locationId())"></td>
            <td>
                <button class="btn btn-primary" data-bind="click: $parent.editItem">Edit</button>
                <button class="btn btn-success" data-bind="click: $parent.editScore">Scores</button>
                <button class="btn btn-danger" data-bind="click: $parent.deleteItem">Delete</button>
            </td>
        </tr>
    </script>

    <script id="game-editTempl" type="text/html">
        <tr>
            <td>
                <!--<input data-bind="value: gameTime" />-->
                <input type="text" class="form-control" placeholder="Select Time" data-bind="datepicker: gameTime, datepickerOptions: { showMeridian: true, autoclose: true, todayBtn: true, format: 'mm/dd/yyyy H:ii P' }">
            </td>
            <td>
                <select class="form-control" data-bind="value: team1Id, options: $parent.teams, optionsCaption: '(Select Team 1)', optionsText: 'name', optionsValue: 'id'"></select>
            </td>
            <td>
                <select class="form-control" data-bind="value: team2Id, options: $parent.teams, optionsCaption: '(Select Team 2)', optionsText: 'name', optionsValue: 'id'"></select>
            </td>
            <td>
                <select class="form-control" data-bind="value: locationId, options: $parent.locations, optionsCaption: '(Select Location)', optionsText: 'name', optionsValue: 'id'"></select>
            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: $parent.saveItem">Save</button>
                <button class="btn btn-danger" data-bind="click: $parent.cancelEdit">Cancel</button>
            </td>
        </tr>
    </script>

    <script id="game-scoreTempl" type="text/html">
        <tr>
            <td data-bind="text: $parent.getTeamName(team1Id())"></td>
            <td>
                <input class="form-control" data-bind="value: team1Score" />
            </td>

            <td data-bind="text: $parent.getTeamName(team2Id())"></td>
            <td>
                <input class="form-control" data-bind="value: team2Score" />
            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: $parent.saveScore">Save</button>
                <button class="btn btn-danger" data-bind="click: $parent.cancelSaveScore">Cancel</button>
            </td>
        </tr>
    </script>

</section>