<div class="splash">
    <noscript>
        <div class="alert alert-danger">
            For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com/" target="_blank">
                instructions how to enable JavaScript in your web browser
            </a>.
        </div>
    </noscript>
    
    <div class="message">
        Elite Schedule
    </div>
    <i class="fa fa-spinner fa-spin fa-4x"></i>
</div>