<div class="modal-header">
    <h2>Special Scheduling Requests - {{vm.properties.team.name}}</h2>
</div>
<div class="modal-body">
    <div class="alert alert-info">
        <h4>Available Hours</h4>
        <strong>Click</strong> a box to specify times when a team cannot play.
        <strong><span class="text-primary">Orange</span></strong> box means team is <strong><span class="text-primary">not available</span></strong>.
        <strong>White</strong> box means team <strong>is available</strong>.
    </div>


    <div ng-repeat="day in vm.scheduleRequests">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary btn-xs" ng-click="vm.blockAll(day, true)" ng-show="!vm.allHoursBlocked(day)">Block All</button>
                        <button class="btn btn-default btn-xs" ng-click="vm.blockAll(day, false)" ng-show="vm.allHoursBlocked(day)">Unblock All</button>
                    </th>
                    <th class=" text-center small" style="width: 55px" ng-repeat="hour in vm.potentialHoursLabels">{{hour}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{day.date | date:'shortDate'}}</td>
                    <td ng-repeat="hour in day.unavailableHours" ng-click="vm.selectHour(hour)" ng-class="{'btn-primary': hour.selected}"></td>
                </tr>
            </tbody>
        </table>

        <div>
            <form class="form">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="day.extraRequest" placeholder="Extra request for {{day.date | date:'shortDate'}}..." />
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="day.resolved" /> Resolved?
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr />
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save()">Save</button>
    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-danger" ng-click="vm.deleteRequests()" popover="Delete All Schedule Requests for this team" popover-trigger="mouseenter" popover-placement="top">Delete Requests</button>
</div>
