<section>
    <h3 class="page-title">Leagues</h3>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Location Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="New League Name" data-bind="value: newName">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" data-bind="click: addItem"><i class="icon-plus icon-white"></i> Add</button>
                </td>
            </tr>
            <!--ko template: { name: displayMode, foreach: items } -->
            <!--/ko-->
        </tbody>
    </table>


    <script id="league-itemTempl" type="text/html">
        <tr>
            <td data-bind="text: name"></td>
            <td>
                <a data-bind="attr: { href: '#leagues/' + id() + '/teams' }" class="btn btn-success">Configure</a>
                <button class="btn btn-info" data-bind="click: $parent.editItem">Edit</button>
                <button class="btn btn-warning" data-bind="visible: isDirty, click: publish, enable: publishEnabled">Publish</button>
                <!--<button class="btn btn-danger" data-bind="click: $parent.deleteItem">Delete</button>-->
                <button class="btn btn-warning" data-bind="click: archive, visible: !isArchived()">Archive</button>
                <button class="btn btn-warning" data-bind="click: unarchive, visible: isArchived">Un-Archive</button>
                <a class="btn btn-link" target="_blank" data-bind="visible: isDirty, attr: { href: id() + '/preview' }">Preview League Site</a>
                <a class="btn btn-link" target="_blank" data-bind="attr: { href: id }">View League Site</a>
            </td>
        </tr>
    </script>

    <script id="league-editTempl" type="text/html">
        <tr>
            <td>
                <input type="text" class="form-control" data-bind="value: name" />
            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: $parent.saveItem">Save</button>
                <button class="btn btn-danger" data-bind="click: $parent.cancelEdit">Cancel</button>
            </td>
        </tr>
    </script>

</section>