<section>
    <h3 class="page-title">Locations</h3>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>Link</th>
                <th>Address</th>
                <th>Lat.</th>
                <th>Long.</th>
                <th></th>
            </tr>
        </thead>
        <!--<tbody data-bind="template: { name: displayMode, foreach: items }"></tbody>-->
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="New Location Name" data-bind="value: newLocationName">
                </td>
                <td>
                    <input type="url" class="form-control" placeholder="New Location Link" data-bind="value: newLocationLink">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="New Location Address" data-bind="value: newLocationAddress">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="New Location Lat." data-bind="value: newLocationLat">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="New Location Long." data-bind="value: newLocationLng">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" data-bind="click: addItem"><i class="icon-plus icon-white"></i> Add</button>
                </td>
            </tr>
            <!--ko template: { name: displayMode, foreach: items } -->
            <!--/ko-->
        </tbody>
    </table>



    <script id="location-itemTempl" type="text/html">
        <tr>
            <td data-bind="text: name"></td>
            <td>
                <a target="_blank" data-bind="text: link, attr: { href: link }"></a>
            </td>
            <td data-bind="text: address"></td>
            <td data-bind="text: latitude"></td>
            <td data-bind="text: longitude"></td>
            <td>
                <button class="btn btn-primary" data-bind="click: $parent.editItem">Edit</button>
                <button class="btn btn-danger" data-bind="click: $parent.deleteItem">Delete</button>
            </td>
        </tr>
    </script>

    <script id="location-editTempl" type="text/html">
        <tr>
            <td>
                <input class="form-control" data-bind="value: name" />
            </td>
            <td>
                <input class="form-control" data-bind="value: link" />
            </td>
            <td>
                <input class="form-control" data-bind="value: address" />
            </td>
            <td>
                <input class="form-control" data-bind="value: latitude" />
            </td>
            <td>
                <input class="form-control" data-bind="value: longitude" />
            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: $parent.saveItem">Save</button>
                <button class="btn btn-danger" data-bind="click: $parent.cancelEdit">Cancel</button>
            </td>
        </tr>
    </script>

</section>