<section>
    <h2 class="page-title" data-bind="text: 'Welcome to ' + leagueName"></h2>
    <h3 data-bind="text: 'This site contains complete schedule information for the ' + leagueName"></h3>

    <div>
        <p>&nbsp;</p>
        <p>
            Use the nav bar at the top to view the <a href="#!teams">schedule by team</a> and <a href="#!locations">schedule by location</a> (as well as directions).
        </p>
        
        <p>
            Only the first 2 weeks of the season have been scheduled. After reviewing the results of the first 2 weeks, the remaining weeks will be scheduled to ensure
            as much parity as possible and to avoid blowouts by the weakest teams having to play against the strongest teams.
        </p>
        
        <p>
            All questions should be directed towards your coach.
        </p>
        
        <p>
            Have a great season!
        </p>
    </div>

</section>