<section>
    <h2 class="page-title">League Rules</h2>
    <h3>Standard High School rules will be used with the following additions:</h3>

    <ul>
        <li>If at least one team consists of 7th graders, 29.5" based will be used for that game. If both teams are 6th graders, 28.5" ball will be used.</li>
        <li>Four 10-minute quarters with running clock. Clock stops on time-outs and in last minute of each quarter. (If both teams agree to two 20-minute halves, that is also acceptable.</li>
        <li>Each team gets 2 time-outs per game (they do not carry forward to overtime)</li>
        <li>Overtimes consist of one-minute periods with a stop clock. There is one time-out per team in the first overtime period, and no time-outs in subsequent periods. There is no sudden death.</li>
        <li>Two Free throws are awarded on 10th team foul of each half. No one-and-one's. All shooting fouls are two shots.</li>
        <li>Technical fouls - One point, accompanied by an additional free-throw and possession of the ball shall be awarded to the offended team.</li>
        <li>No press rule when team is winning by 15 or more</li>
        <li>Scorebook will be kept for player fouls - players foul out at 5 fouls.</li>
        <li>For each game, one team should provide a volunteer to work the scoreboard and the other to keep the scorebook.</li>
        <li>If replacement players are used (for teams short on players), the replacements must be registered HYBA players from 7th grade division.</li>
        <li>There is <b>ZERO TOLERANCE</b> on fighting, use of foul or abusive language, or other abusive behavior. Any player, coach, parent, or fan violating this policy shall be suspended or expelled from the HYBA Basketball Program without warning.</li>
    </ul>
</section>