<div class="navbar navbar-default navbar-fixed-top" ng-controller="shell as vm">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Elite Schedule NG</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':vm.highlightNav('/')}" data-toggle="collapse" data-target=".nav-collapse"><a href="#">Home</a></li>
                <li ng-class="{'active':vm.highlightNav('/fullschedule')}" data-toggle=" collapse" data-target=".nav-collapse"><a href="#/fullschedule">Full Schedule</a></li>
                <li ng-class="{'active':vm.highlightNav('/standings')}" data-toggle=" collapse" data-target=".nav-collapse"><a href="#/standings">Standings</a></li>
                <li ng-class="{'active':vm.highlightNav('/teams')}" data-toggle=" collapse" data-target=".nav-collapse"><a href="#/teams">Teams</a></li>
                <li ng-class="{'active':vm.highlightNav('/locations')}" data-toggle=" collapse" data-target=".nav-collapse"><a href="#/locations">Locations</a></li>
                <li ng-class="{'active':vm.highlightNav('/rules')}" data-toggle=" collapse" data-target=".nav-collapse"><a href="#/rules">Rules</a></li>
                <li data-toggle=" collapse" data-target=".nav-collapse"><a href="/">Switch Leagues</a></li>
            </ul>
        </div>
    </div>
</div>

<div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
    <div data-cc-spinner="vm.spinnerOptions"></div>
    <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
</div>

<div data-ng-view id="ng-view" class="page-host container shuffle-animation"></div>